/* 
    Document   : css
    Created on : Sep 7, 2013, 11:44:26 AM
    Author     : chris
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#length, #width{
    margin:20px;
}



#rectangle, #circle{
    width: 600px;
    margin:20px auto;
}



